<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a9916b7741.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Cooking App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Save Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <div class="p-2 search-bar">
        <form action="">
          <div class="form-group m-0">
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder="Search Recipe"
            />
          </div>
        </form>
      </div>
      <div class="container">
        <h1 class="text-center">{{cuisine}}</h1>
        <div class="categories">
          {% for recipe in recipes%}
          <div class="category">
            <div class="card">
              <img
                class="card-img-top category-img"
                src="{{recipe.image}}"
                alt="Card image cap"
              />
              <div class="card-body bg-dark">
                <h5 class="card-title text-light">{{recipe.title}}</h5>
                <a
                  href="/recipe/{{recipe.id}}"
                  class="btn btn-primary d-block mb-2"
                  >View Recipe</a
                >
                <a href="#" class="btn btn-success d-block">save recipe</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="text-center mb-3">
          {% if prevPage == True %}
          <form action="/prev" method="post" class="d-inline float-left">
            {% csrf_token %}
            <input type="hidden" name="currentPage" value="{{page}}" />
            <input type="hidden" name="type" value="{{cuisine}}" />
            <button type="submit" class="btn btn-danger">Prev</button>
          </form>
          {% else %}
          <button class="btn btn-danger float-left" disabled="disabled">
            Prev
          </button>
          {% endif %}
          <span class="mb-5">page {{page}} of {{totalPages}}</span>
          {% if nextPage == True %}
          <form action="/next" method="post" class="d-inline float-right">
            {% csrf_token %}
            <input type="hidden" name="currentPage" value="{{page}}" />
            <input type="hidden" name="type" value="{{cuisine}}" />
            <button type="submit" class="btn btn-primary">Next</button>
          </form>
          {% else %}
          <button class="btn btn-primary float-left" disabled="disabled">
            Next
          </button>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
