<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/recipe.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a9916b7741.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="pb-3">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Cooking App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Save Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <h2 class="mb-0 mt-1 text-center p-3">{{title}}</h1>
      <img class="show-img" src="{{recipeImg}}" alt="">
      <ul id="recipe-tabs" class="nav nav-pills nav-justified mb-2" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link rounded-0 active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-0" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-0" id="instructions-tab" data-toggle="tab" href="#instructions" role="tab" aria-controls="instructions" aria-selected="false">Instructions</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!---------------------- SUMMARY TAB ------------------------------>
        <div class="tab-pane bg-color fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
          <div class="container bg-white">
              <p class="text-center">{{summary | safe}}</p>
              <div class="row mt-4">
                  <div class="col-6 text-center">
                      <i class="fa-solid fa-clock text-danger d-block" style="font-size: 70px;"></i>
                      <span>Ready in {{readyInMinutes}}</span>
                  </div>
                  <div class="col-6 text-center">
                      <i class="fa-solid fa-star text-warning d-block" style="font-size: 70px;"></i>
                      <span>Rated by {{rating}} people</span>
                  </div>
                  <table class="table table-bordered text-center mt-2">
                    <thead>
                      <tr>
                        <th>Vegetarian</th>
                        <th>Vegan</th>
                        <th>Gluten free</th>
                        <th>Dairy free</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {% if vegetarian == True %}
                          <i class="check fa-solid fa-circle-check text-success"></i>
                          {% else %}
                          <i class="check fa-solid fa-circle-xmark text-danger"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if vegan == True %}
                          <i class="check fa-solid fa-circle-check text-success"></i>
                          {% else %}
                          <i class="check fa-solid fa-circle-xmark text-danger"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if glutenFree == True %}
                          <i class="check fa-solid fa-circle-check text-success"></i>
                          {% else %}
                          <i class="check fa-solid fa-circle-xmark text-danger"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if dairyFree == True %}
                          <i class="check fa-solid fa-circle-check text-success"></i>
                          {% else %}
                          <i class="check fa-solid fa-circle-xmark text-danger"></i>
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              
          </div>
        </div>
        <!-------------------- INGREDIENTS TAB ----------------------->
        <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
          <div class="container">
            <h3 class="d-inline">{{ingredients|length}} Ingredients</h3>
            <div class="serving float-right">
              <i class="fa-solid fa-circle-minus text-danger"></i> &nbsp 6 serving &nbsp <i class="fa-solid fa-circle-plus text-success"></i>
            </div>
            <div class="mt-4 text-center">
              {% for ingredient in ingredients %}
              <div class="mb-3">
                <img class="ingredient-img" src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}" alt="">
                <span>{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}</span>
                <span class="text-secondary">{{ingredient.originalName}}</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!---------------------------------- INSTRUCTIONS TAB  ----------------------------------->
        <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
          <div class="container">
           
            {% for step in instructions %}
             <div class="mb-2">
              <h3>Step {{step.number}}:</h3>
              <span>{{step.step}}</span>
              <div class="row text-center">
                <div class="col-4">
                  <h5>Ingredients</h5>
                  {% for ingredient in step.ingredients %}
                  <div class="mb-2">
                    <img class="ingredient-img" style="height: auto; width: 50px;" src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}" alt="">
                    <span class="d-block">{{ingredient.name}}</span>
                  </div>
                  {% endfor %}
                </div>
                <div class="col-4">
                  <h5>Equipment</h5>
                  {% for equipment in step.equipment %}
                  <div class="mb-2">
                    <img class="ingredient-img" style="height: auto; width: 50px;" src="https://spoonacular.com/cdn/equipment_100x100/{{equipment.image}}" alt="">
                    <span class="d-block">{{equipment.name}}</span>
                  </div>
                  {% endfor %}
                </div>
                <div class="col-4">
                  <h5>Length</h5>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="container">
        <button type="submit" class="btn btn-primary form-control">Save recipe</button>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
